<h2>Contacts</h2>

<table class="table table-bordered table-striped">
	{{#each model as |contact| }}
	<thead>
		<tr>
			<th>id</th>
            <th>email</th>
			<th>message</th>
		</tr>
	</thead>
	<tbody>
			<tr>
                <th>{{contact.id}}</th>
				<th>{{contact.email}}</th>
				<td>{{contact.message}}</td>
			</tr>
	</tbody> 
	<button class="btn btn-danger" {{action 'deleteContact' contact}}>delete</button>
		{{/each}}
</table>

{{#if responseMessage}}
	<div class="alert alert-success">{{responseMessage}}</div>
{{/if}}